/* Popup container styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup content styles */
.popup-content {
  background: #ffffff;
  padding: 20px; /* Adjust padding as needed */
  border-radius: 15px;
  text-align: center;
  max-width: 400px; /* Adjust max-width as needed */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 90%; /* Ensure the popup content takes most of the width */
  margin: 0 auto; /* Center the content horizontally */
}

.popup-content h2 {
  color: var(--blaze-primary-color);
  margin-bottom: 15px;
}

.popup-content p {
  margin: 10px 0;
  font-size: 1em;
}

.popup-content h3 {
  margin-top: 15px;
  color: #f46a08;
}

.popup-content button {
  margin-top: 15px;
  padding: 8px 16px;
  background-color: var(--blaze-primary-color);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.popup-content button:hover {
  background-color: #d45d07;
}
