.meal-card {
    display: inline-block;
    width: 30%;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s;
  }
  
  .meal-card:hover {
    transform: scale(1.05);
  }
  
  .meal-card-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .meal-card-details {
    padding: 15px;
  }
  
  .meal-card-details h3 {
    margin: 10px 0;
  }
  
  .meal-card-details p {
    color: #555;
  }
  
  .meal-card-details a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(225, 147, 3);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .meal-card-details a:hover {
    background-color:  rgba(225, 147, 3, 0.781);
  }
  