
.menu-page {
  padding: 20px;
  /* background-color: #333; Black background */
  border-radius: 10px;
  background: linear-gradient(to top, #000000, #333333, #666666, #FF8C00);

}

.menu-page h1 {
  text-align: center;
  color: #FF8C00; /* Dark orange text */
  font-size: 2.5em;
  margin-bottom: 20px;
}

.add-meal-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #FF8C00; /* Dark orange */
  color: #000; /* Black text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-meal-button:hover {
  background-color: #FF4500; /* OrangeRed */
}

.meal-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Smaller cards */
  gap: 20px;
}

.meal-card img {
  border-bottom: 2px solid #FF8C00; /* Dark orange */
}

.add-meal-form {
  background-color: #333; /* Black background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px auto;
}

.add-meal-form label {
  color: #FF8C00; /* Dark orange labels */
}

.add-meal-form input,
.add-meal-form textarea {
  background-color: #fff; /* White inputs */
  color: #000; /* Black text */
}

.add-meal-form button {
  background-color: #FF8C00; /* Dark orange */
  color: #000; /* Black text */
}

.add-meal-form button:hover {
  background-color: #FF4500; /* OrangeRed */
}